* { padding: 0;
	margin: 0;
	}
	a, .btn-modal{
		color: white;
		/* width: 100px */
	}
	.btn-modal:hover{
		color: white;
		cursor: pointer;
	}
	.search{
		width: 700px;

	}
	.search form{
		width: 100%;
	}

	.searchForm {
		display: flex;
		flex-direction: row;
	}

	.search .form-inline .form-control{
		width: 34rem;
	
	}
	.secondNavbar {
		background-color: #18202b;
		color: #FFF;
	}
	.categories , .secondNavImg{
		display: inline-block;
	}
	.categories {
		padding: 0;
		margin: 0;
	}
	.categories  ,
	.categories li {
		display: inline-block;
		padding: 0 6px;
		cursor: pointer;

	}

	.categories li:hover {
		font-size: 17px;
		transition: 0.4s;
		color: rgb(13,108,239);
	}
	#btn-modal{
		width: 7rem;
	}
	
	
	.btn-outline-success {
		background-color: #febd69;
		color: white;
		border-color: #febd69;
	}
	.btn-outline-success:hover{
		background-color: #fff;
		color: #febd69;
		border-color: #febd69;
	}
	.navbar-toggler{
		background-color: #febd69;
   		border: 1px solid #febd69;
	}

	.nav-link {
		color:white !important
	}

	.nav-link:hover {
		font-size: 18px;
		color: blue !important;
		transition: 0.5s;
	}